<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://unpkg.com/htmx.org@latest"></script>
        <script src="https://unpkg.com/htmx.org@latest/dist/ext/alpine-morph.js"></script>
        <!-- Alpine Plugins -->
        <script defer src="https://unpkg.com/@alpinejs/morph@3.x.x/dist/cdn.min.js"></script>
        <!-- Alpine Core -->
        <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>{{ .Title }}</title>
    </head>
    <body x-data="{showModal: ''}"
        @keyup.escape="showModal = ''"
        @keyup.ctrl.slash="showModal = 'help'"
        @keyup.shift.enter="showModal = 'add'; $nextTick(() => { $refs.url.focus(); });">
      {{ embed }}
    </body>
</html>
